<?xml version="1.0"?>
<!--
/**
* Magento
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* @category PayIntelligent
* @package Paintelligent_Sofort
* @copyright Copyright (c) 2014 PayIntelligent GmbH (http://www.payintelligent.de)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/
-->

<config>
    
    <modules>
        <Paymentnetwork_Pnsofortueberweisung>
            <version>3.0.7</version>
        </Paymentnetwork_Pnsofortueberweisung>
    </modules>


    <global>

        <blocks>
            <sofort>
                <class>Paymentnetwork_Pnsofortueberweisung_Block</class>
            </sofort>
        </blocks>
        
        <models>
            <sofort>
                <class>Paymentnetwork_Pnsofortueberweisung_Model</class>
            </sofort>
        </models>
        
        <helpers>
            <sofort>
                <class>Paymentnetwork_Pnsofortueberweisung_Helper</class>
            </sofort>
        </helpers>
        
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <paymentnetwork_pnsofortueberweisung_observer>
                        <type>model</type>
                        <class>Paymentnetwork_Pnsofortueberweisung_Model_Observer</class>
                        <method>refillBasket</method>
                    </paymentnetwork_pnsofortueberweisung_observer>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>

    <default>
        <payment>
            <paymentnetwork_pnsofortueberweisung>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Sofort</model>
                <title>SOFORT Banking</title>
                <usage_text_one>{{orderid}}</usage_text_one>
                <usage_text_two>{{transaction}}</usage_text_two>
                <payment_action>initialize</payment_action>
                <order_status>pending</order_status>
                <order_status_pending_not_credited_yet>processing</order_status_pending_not_credited_yet>
                <order_status_loss_not_credited>payment_review</order_status_loss_not_credited>
                <order_status_received_credited>processing</order_status_received_credited>
                <create_creditmemo>0</create_creditmemo>
                <create_invoice>after_order</create_invoice>
                <send_order_confirmation>1</send_order_confirmation>
                <send_mail>1</send_mail>
            </paymentnetwork_pnsofortueberweisung>
            <!-- just for compatibility -->
            <pnsofortueberweisung>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </pnsofortueberweisung>
            <sofortrechnung>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </sofortrechnung>
            <pnsofort>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </pnsofort>
            <lastschriftsofort>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </lastschriftsofort> 
            <sofort>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </sofort>
            <sofort_ideal>
                <active>0</active>
                <model>Paymentnetwork_Pnsofortueberweisung_Model_Method_Compatibility</model>
            </sofort_ideal> 
            <!-- compatibility end -->
        </payment>
    </default>

    <frontend>
        <routers>
            <pisofort>
                <use>standard</use>
                <args>
                    <module>Paymentnetwork_Pnsofortueberweisung</module>
                    <frontName>pisofort</frontName>
                </args>
            </pisofort>
        </routers>
        <translate>
            <modules>
                <Paymentnetwork_Pnsofortueberweisung>
                    <files>
                        <default>Paymentnetwork_Pnsofortueberweisung.csv</default>
                    </files>
                </Paymentnetwork_Pnsofortueberweisung>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Paymentnetwork_Pnsofortueberweisung>
                    <files>
                        <default>Paymentnetwork_Pnsofortueberweisung.csv</default>
                    </files>
                </Paymentnetwork_Pnsofortueberweisung>
            </modules>
        </translate>
    </adminhtml>
</config>